<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LastName" value ="Fox"/>
    <add key="BookingReference" value="F12345"/>
    <add key="VelocityNumber" value="1234"/>
    <add key="Password" value="F15Gk83"/>
    <add key="OriginSurrogate" value ="Brisbane (BNE)"/>
    <add key="DestinationSurrogate" value="Adelaide (ADL)"/>
  </appSettings>
</configuration>